body {
    font-family: 'Long Cang', cursive;
    font-size: 24px;
    background-color: #e3f5e1;
}
#jumbo {
    background-image: url("https://media.giphy.com/media/136aKNrswwYlW0/giphy.gif");
    background-position: 50%;
    background-repeat: repeat-x;
    background-color: #b5d2cd;
}